<FilesMatch "^(edit.php|other-file.php)$">
    AuthName "Editing a city..."
    AuthType Basic
    AuthUserFile "/C:\xampp\htdocs\study\25 - cities\Part 12/.htpasswd"
    Require valid-user
</FilesMatch>